<h1> Send Mail Net CORE</h1>


<form method="post" enctype="multipart/form-data">
    <label> Para: </label>    
    <input type="text" name="para" class="form-control" />
    <label> Asunto: </label>
    <input type="text" name="asunto" class="form-control" />
    <label> Mensaje: </label>
    <input type="text" name="mensaje" class="form-control" />

    <button class="btn btn-primary">
        Enviar
    </button>

</form>

<h1>@ViewData["MENSAJE"]</h1>